 .logoBig{
    background-image: url("../images/landing.jpg");
    padding: 100px;
  }
  .container{
    padding-left: 1px;
    padding-right: 1px;

  }

  .logoBig{
      text-align: center;

  }
  #class1{
      height:105px;
      font-size: 15px;
      padding: 47.5px;
  }
  #class2{
    background-color:tomato;
    padding: 47.5px;
    height: 105px;
    font-size: 15px;

  }

.img1 {
  background-image: url('../images/breakfast.jpg');
  padding: 95px;
  height: 210px;
  font-style: italic;
}
.img2 {
  background-image: url('../images/lunch.jpg');
  padding: 95px;
  height: 210px;
  font-style: italic;



}
.img3 {
  background-image: url('../images/dinner.jpg');
  padding: 95px;
  height: 210px;
  font-style:italic;
  width: 18.0%;
}
 .well{
     text-align: right;
 }
 .fasty{
    text-align: left;
 }
#Drinks {
    text-align:right;

}
#drnks{
  direction: ltr;
}
.ff{
   color: brown;
   background-image: url('../images/foodsBg.jpg');

}
 #panel-body{
     padding:70px;
     text-align: center;
     margin:70px;
     background-color: white;

 }


 .panel{
    color:  tomato;
    font-size: 20px;
 }
 .panel-{
   color: tomato;
 }
 .row1{
     text-align: center;
     height: 190px;
     border-right: solid grey;
     padding-left: 90px;
     padding-right: 90px;
 }
 .position{
    color: tomato;
    font-size: 20px;
    border: color:grey;
 }
 span {
     color: tomato;
 }
 .row2{
    background-image: url('../images/subscribe.jpg');
    padding: 9%;
    text-align: center;
 }
 .trans{
      border-top: none;
      padding: 5px;
      color :white;
 }
 .lorem{
     padding:5px;
    border-radius: 4px;
    background-color: tomato;
}
.icon{
    color: white;
    font-size: 24px;
}
.icon2{
   background-color: tomato;
   text-align: center;

}
