 .logoBig{
    background-image: url("../images/landing.jpg");
    padding: 100px;

}
  .logoBig{
      text-align: center;

  }

.img1 {
  background-image: url('../images/breakfast.jpg');
  padding: 95px;
  height: 190px;
  font-style: italic;
}
.img2 {
  background-image: url('../images/lunch.jpg');
  padding: 95px;
  height: 190px;
  font-style: italic;


}
.img3 {
  background-image: url('../images/dinner.jpg');
  padding: 95px;
  height: 190px;
  font-style:italic;
  width: 18.80%;
}
 .well{
     text-align: right;
 }
 .fasty{
    text-align: left;
 }
#Drinks{
      text-align: right;
}
#drnks {
     text-align: center;
}
.ff{
   color: brown;
   background-image: url('../images/foodsBg.jpg');

}
 #panel-body{
     padding:70px;
     text-align: center;
     margin:70px;
     background-color: white;

 }
 .panel{
    color:  tomato;
    font-size: 20px;
 }

.our{
    color: maroon;
    font-size: 20px
}
.me{
    text-align: center;
    background-color: brown;
}
